<md-subheader class="md-no-sticky">Gewicht</md-subheader>

<md-input-container flex>
    <label>Gewicht</label>
    <input ng-model="selectedgewicht.gewicht" STYLE="background-color: #B2DFDB;">
</md-input-container>


<br><br>
<md-button class="md-raised md-primary"  ng-click="teamscontroller.save()">
    Opslaan
</md-button>
<md-button class="md-raised md-primary"  ng-click="teamscontroller.cancel()">
    Annuleren
</md-button>
<md-button class="md-raised md-primary"  ng-click="teamscontroller.delete()">
    Verwijderen
</md-button>
